.define-if-not-set() {
	@btn-primary-bg: darken(#428bca, 6.5%);
	@btn-primary-color: #fff;
	@gray-light: lighten(#000, 46.7%);
	@padding-large-vertical: 10px;
	@padding-large-horizontal: 16px;
}

.define-if-not-set();

.composer {
	.no-select;
	
	z-index: 10000;
	background: #fff;
	visibility: hidden;

	padding: 0;

	position: fixed;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;

	.composer-container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.mobile-navbar {
		position: static;
		background: @btn-primary-bg;
		color: @btn-primary-color;
		min-height: 40px;
		margin: 0;

		button {
			font-size: 20px;
		}

		.category-name-container {
			font-size: 16px;
			padding: 10px 5px;
			vertical-align: middle;
			display: inline-block;
			text-align: center;
			width: ~"calc(100% - 75px)";
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.title {
			text-align: center;
			margin-right: 46px;
			margin-left: 46px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	.title-container {
		border-bottom: 1px solid #eee;

		.title {
			display: block;
			margin: 0;
			padding: 8px;
			font-size: 18px;
			border: 0;
			.box-shadow(none);
			overflow: hidden;
		}

		.category-list {
			padding: 0 2rem;
		}
	}

	.category-tag-row {
		margin: 0;
	}

	.formatting-bar {
		margin: 0;

		span {
			color: #000;
		}

		.spacer {
			&:before {
				content: ' | ';
				color: @gray-light;
			}
		}

		.formatting-group {
			padding: 0;
			margin: 0;
			overflow-x: auto;
			white-space: nowrap;
			display: block;
			list-style: none;

			li {
				display: inline-block;
				padding: 10px 15px;
				cursor: pointer;
				color: #333;

				&:focus, &:hover {
					outline: none;
					background-color: darken(#fff, 10%);
				}
			}
		}
	}

	.write-preview-container {
		flex: 2;
		display: flex;
		overflow: hidden;
	}

	.write-container, .preview-container {
		display: flex;
		flex: 1;
		margin: 0 15px;
		position: relative;

		.help-text {
			text-transform: uppercase;
			position: absolute;
			right: 35px;
			top: 8px;
			font-size: 10px;
			color: #999;
			z-index: 1;
		}
	}

	.write-container {
		&.maximized {
			width: 100%;
		}
	}

	.preview-container {
		word-wrap: break-word;
		max-width: 50%;
		max-width: ~"calc(50% - 30px)";
	}

	.write, .preview  {
		width: 100%;
		font-size: 16px;
		.border-radius(0);
		resize: none;
		overflow: auto;
		padding: 25px 10px;
		margin: 0;
	}

	.write {
		border: none;
		border-top: 1px solid #EDEDED;
		border-bottom: 1px solid #EDEDED;
		.box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
	}

	.preview {
		-webkit-touch-callout: default;
		user-select: text;

		p {
			margin: 0 0 18px;
		}
	}

	.help {
		.pointer;
	}

	.toggle-preview {
		margin-left: 20px;
		.pointer;
	}

	.tags-container {
		.bootstrap-tagsinput {
			border: 0;
			padding: 4px 6px;
			box-shadow: none;

			input {
				font-size: 16px;
				height: 28px;
				padding: 4px 6px;
			}

			.label {
				color: white;
				font-size: 13px;
			}
		}
	}

	.category-selector {
		display: block;
		visibility: hidden;
		
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;

		margin: 0;
		padding: 0 5px;
		max-height: ~"calc(100% - 86px)";

		background: #fff;
		box-shadow: 0 2px 6px rgba(0,0,0,0.35);
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		transform: translate3d(0, 350px, 0);
		transition: transform 0.3s, visibility 0s 0.3s;
		z-index: 2;

		&.open {
			transform: none;
			visibility: visible;
			transition-delay: 0s;
		}

		li {
			padding: 10px;
			color: #333;

			&.active {
				background-color: @btn-primary-bg;
				color: @btn-primary-color;
			}
		}
	}

	.resizer {
		display: none;
		position: absolute;
		width: 100%;
		top: 10px;
		height: 0;

		.pointer;

		.trigger {
			position: relative;
			display: block;
			width: 32px;
			height: 32px;
			top: -20px;
			margin: 0 auto;
			margin-left: 20px;

			background: #333;
			border: 1px solid #333;
			.border-radius(50%);

			line-height: 26px;

			i {
				position: relative;
				color: #FFF;
				font-size: 16px;

				&:before {
					content: @fa-var-arrows-v;
					position: relative;
					top: 3px;
				}
			}
		}
	}

	&.reply {
		.title-container {
			display: none;
		}
	}

	&.resizable.maximized {
		.resizer .trigger i {
			&:before {
				content: @fa-var-chevron-down;
			}
		}

		box-shadow: none;
	}

	.imagedrop {
		position: absolute;
		top: 250px;
		text-align: center;
		font-size: 24px;
		color: #999;
		width: 100%;
		display: none;
	}

	.topic-thumb-container {
		margin-top: 5px;
		margin-left: 8px;
		margin-right: 8px;
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.6);
		padding: 10px;
	}

	.topic-thumb-btn {
		cursor: hand;
		cursor: pointer;
	}

	.topic-thumb-preview {
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
	}

	.topic-thumb-ctrl.form-group {
		display: inline-block;
		vertical-align: -50% !important;
	}
}

@media (max-width: @screen-sm-max) {
	html.composing {
		&, body {
			height: 100%;
			overflow: hidden;
			position: relative;
		}

		.composer {
			height: 100%;
			overflow: hidden;
		}
		
		body {
			padding-bottom: 0 !important;
		}
	}
}

@media (min-width: @screen-md-min) {
	@import './medium.less';
}

@import './zen-mode.less';
@import './page-compose.less';
