html.zen-mode {
	overflow: hidden;
}

.zen-mode .composer {
	padding: 0;
	z-index: 10002;
	top: 0 !important;

	.composer-container {
		padding: 0;
		height: 100%;
		width: 100%;
		padding-top: 5px;

		position: relative;
	}

	&.reply {
		.title-container {
			display: none;
		}

		.write-preview-container {
			top: 62px;
		}

		.category-tag-row {
			margin-top: 0;
		}
	}

	.tag-row {
		display: none;
	}

	.title-container {
		margin: 0;
		padding-left: 0;

		.category-list-container {
			margin-top: 3px;
			padding-right: 0;
		}
	}

	.write-preview-container {
		height: auto !important;
		position: absolute;
		top: 110px;
		bottom: 0;
		left: 0;
		right: 0;

		> div {
			margin: 0;
			padding: 0;
		}
	}

	.write, .preview {
		border: none;
		outline: none;
	}

	.resizer {
		display: none;
	}
}
