
.composer {
	min-height: 400px;

	.resizer {
		display: block;
	}

	.minimize {
		display: block;
	}

	&.reply .title-container {
		display: flex;
	}

	&.resizable {
		box-shadow: 0px -20px 20px rgba(255, 255, 255);
	}
}
