html.zen-mode {
	overflow: hidden;
}

.zen-mode .composer {
	&.resizable {
		padding-top: 0;
	}

	.composer-container {
		padding-top: 5px;
	}

	.tag-row {
		display: none;
	}

	.title-container .category-list-container {
		margin-top: 3px;
	}

	.write, .preview {
		border: none;
		outline: none;
	}

	.resizer {
		display: none;
	}

	&.reply {
		.title-container {
			display: none;
		}
	}

	@include media-breakpoint-up(md) {
		& {
			padding-left: 15px;
			padding-right: 15px;
		}
		.write-preview-container {
			margin-bottom: 0;

			> div {
				padding: 0;
				margin: 0;
			}
		}
	}
}